{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Home GestorEM
{% endblock %}
{% block head %}
<style>
    #id_username{
        width:100%;
        height: 100%;
        color:black;
        border: solid 1px;
        align-items: center;
        padding: 5px 5px;
    }
</style>
{% endblock %}

{% block content %}
<header class="min-h-screen bg-white bg-opacity-0 showcase border-gray-600 border-b-2 flex justify-center items-center bg-no-repeat">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:w-2/4 ">
        <h1 class="font-semibold text-4xl md:text-5xl w-11/12 text-center">
            Decisões estratégicas do seu negócio ao alcance com um clique.
        </h1>
        <h3 class="md:text-xl py-4">
            Visualize o futuro da sua empresa.
        </h3>
        <h4 class="text-sm md:text-lg pb-3">
            Coloque seu domínio abaixo para acessar.
        </h4>

        <div class="w-full flex justify-center">
            <div class="flex justify-center items-center w-12/12 md:w-10/12">
                <form method="post" class="w-12/12 justify-center ">
                    {% csrf_token %}
                    <div class="flex flex-grow items-stretch">
                        {{ form }}
                    <button class="bg-[#e01212] font-medium md:font-normal flex justify-center items-center py-2 px-3 md:px-0 rounded-br-sm rounded-tr-sm md:text-2xl" type="submit">
                        <span class="text-white">
                            Entrar
                        </span>
                        <ion-icon name="chevron-forward-outline" class="text-2xl text-white"></ion-icon>
                    </button>
                    </div>
                </form>
                </a>
            </div>
        </div>
    </div>
    <div class='md:w-1/2 flex justify-center items-center'>
        <img src="{% static 'images/dash.png' %}" class="w-8/12" alt="">
    </div>
</header>

{% endblock %}